@media (max-width: 675px) {

    .mobile-menu {
        display: block;
        cursor: pointer;
    }

    .brand {
        margin: 0 auto;
        font-size: 2.5em;
    }  
    
    .menu-items {
        display: none;
    }

    .contact {
        display: none;
    }


    /****hero***/

    .hero {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .left > div > div {
        font-size: 2.2em;
        font-weight: 700;
    }
}



@media (max-width: 1080px) {
    .hero {
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .right {
        display: none;
    }   
}